@import "tailwindcss";

/* ROOT */
:root{
  --rm-bg-primary:#0A1128;
  --rm-bg-secondary:#0D1F3C;
  --rm-bg-card:#111D3A;

  --rm-accent-portal:#39FF8A;
  --rm-accent-plasma:#00C2FF;
  --rm-accent-purple:#7B4FE8;

  --rm-text-primary:#C0F0D8;
  --rm-text-secondary:#8AB4CC;

  --rm-border:#1B3A5C;

  --rm-danger:#E84E4E;
}

